extends layout

block contenido
    +crearLista([12,3,4,5,6])
    +crearLista(arrEscritores) 
    +crearLista(null)  
    h3 Escritores Famosos
    script.
        var num = 0;
    table.table
        thead
            tr
                th Nombre
                th Apellidos
                th País
                th Imagen
        tbody
            each escritor in arrEscritores
                tr
                    td= escritor.nombre
                    td= escritor.apellidos
                    td= escritor.pais
                    td
                        img(src=escritor.imagen, width="100")
