extends ../layout

block content
    h2.mb-5 Insertar nueva Persona
    form(action="/personas/create", method="POST")
        .form-group
            label Nombre
            input.form-control(name="nombre", type="text")
        .form-group
            label Apellidos
            input.form-control(name="apellidos", type="text")
        .form-group
            label Edad
            input.form-control(name="edad", type="text")
        .form-group
            label Email
            input.form-control(name="email", type="text")
        input.btn.btn-info.btn-block(type="submit", value="Enviar")