<div class="wrapper">
  <div class="row">
    <div class="col-12">
      {{ resultado }}
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-4">
      <button class="btn btn-block btn-info" (click)="pulsarBoton(1)">1</button>
    </div>
    <div class="col-12 col-md-4">
      <button class="btn btn-block btn-info" (click)="pulsarBoton(2)">2</button>
    </div>
    <div class="col-12 col-md-4">
      <button class="btn btn-block btn-info" (click)="pulsarBoton(3)">3</button>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-12 col-md-4">
      <button class="btn btn-block btn-info" (click)="pulsarBoton(4)">4</button>
    </div>
    <div class="col-12 col-md-4">
      <button class="btn btn-block btn-info" (click)="pulsarBoton(5)">5</button>
    </div>
    <div class="col-12 col-md-4">
      <button class="btn btn-block btn-info" (click)="pulsarBoton(6)">6</button>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-12 col-md-4">
      <button class="btn btn-block btn-info" (click)="pulsarBoton(7)">7</button>
    </div>
    <div class="col-12 col-md-4">
      <button class="btn btn-block btn-info" (click)="pulsarBoton(8)">8</button>
    </div>
    <div class="col-12 col-md-4">
      <button class="btn btn-block btn-info" (click)="pulsarBoton(9)">9</button>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-12">
      <button class="btn btn-block btn-info" (click)="pulsarBoton(0)">0</button>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-12 col-md-3">
      <button class="btn btn-block btn-info" (click)="pulsarBoton('+')">+</button>
    </div>
    <div class="col-12 col-md-3">
      <button class="btn btn-block btn-info" (click)="pulsarBoton('-')">-</button>
    </div>
    <div class="col-12 col-md-3">
      <button class="btn btn-block btn-info" (click)="pulsarBoton('*')">*</button>
    </div>
    <div class="col-12 col-md-3">
      <button class="btn btn-block btn-info" (click)="pulsarBoton('/')">/</button>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-12">
      <button class="btn btn-block btn-info" (click)="resolver()">=</button>
    </div>
  </div>
</div>